.download-container {
    margin-top: 100px;
}

.download-container h2 {
    text-shadow: 0 0 10px #0ef;
}
.download-container .second {
    text-shadow: 0 0 10px #0ef;
    padding-top: 20px;
    padding-bottom: 0px;
}
.ytapk {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.link {
    margin: 30px;
    width: 200px;
    border: 1px solid #ccc;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 20px;
    background-color: blue;
    transition: 0.3s;
}
.link a {
    color: white;
    font-size: large;
}
.link:hover {
    opacity: 0.7;
}